.git
.git/**
.venv
.venv/**
.terraform
.terraform/**
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
.env
.env.*
audit
audit/**
Project
Project/**
__pycache__
**/__pycache__
*.pyc
*.pyo
*.log
.idea
.vscode
.DS_Store
