# Python
.venv/
__pycache__/
*.pyc

# Django
*.sqlite3
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan

# Mac
.DS_Store

# IDE
.vscode/
.idea/
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.venv/
.DS_Store
*.backup
tfplan*

# Kubernetes secrets
charts/django-app/secret.yaml
charts/django-app/templates/secret.yaml
